.Login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;

}

.Form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 250px;
  height: 100px;
}
.loginWrapper{
  padding: 35px;
  background-color: gainsboro;
  border-radius: 8px;
}
